/* Color Cube */

$mine_shaft: #272727;
$gray: #868686;
$scarlet: #f72b0c;
$cloud: #c6c1bd;
$froly: #f0776b;

/* Median cut */

$masala: #403d3b;
$dust_storm: #e4cdc9;
$natural_gray: #8b8a87;
$dusty_gray: #9c9c9c;
$sushi: #86b54a;

/* Material design */

$sushi_vibrant: #86b648;
$muted: #5d5d5c;
$dark_vibrant: #bf351f;
$dark_muted: #040404;
$light_vibrant: #e97c62;