@import '~bootstrap/scss/bootstrap.scss';
@import 'vars';

.button-template {
    color: white;
    background-color: $scarlet;
    padding: 15px 25px;
    border: 0;
    font-weight: 700;
    &:active{
        background-color: $sushi;
    }
  }

  .learn {
    color: $scarlet;
    letter-spacing: 1px;
  }